<div class="top-bar">
  <!-- Logo -->
  <div class="logo">
    <img class="logo__img" src="./assets/icon/logo.svg" alt="Grocery Mart" />
    <h1>grocerymart</h1>
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li>
        <a href="" class="navbar__link">
          Departments
          <img src="./assets/icon/arrow-down.svg" alt="arrow down" class="navbar__arrow" />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link">
          Grocery
          <img src="./assets/icon/arrow-down.svg" alt="arrow down" class="navbar__arrow" />
        </a>
      </li>
      <li>
        <a href="" class="navbar__link">
          Beauty
          <img src="./assets/icon/arrow-down.svg" alt="arrow down" class="navbar__arrow" />
        </a>
      </li>
    </ul>
  </nav>
</div>
