html.dark {
  --text-color: #ffffff;
  --icon-color: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(365%) hue-rotate(296deg) brightness(118%)
    contrast(100%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  // Dropdown
  --dropdown-bg-color: #292e39;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(11%) saturate(1036%) hue-rotate(185deg)
    brightness(95%) contrast(90%);
}
